---
const { title, description } = Astro.props;
import LinkButton from '@components/LinkButton.astro';
import { PHONE, LATIDO } from '../constants';
---

<section class="highlight schedule-appointment">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-0 col-md-6 offset-md-3">
        <h2 class="text-center">{title ? title : 'Termin buchen'}</h2>

        <p>
          {description && <div>{description}</div>}
          {
            !description && (
              <div>
                Nutzen Sie die Möglichkeit, schnell und einfach einen Termin in
                unserer Ordination zu vereinbaren. Wir freuen uns darauf, Sie
                individuell zu betreuen. Oder rufen Sie uns direkt an:{' '}
                <a href={`tel:${PHONE}`}>{PHONE}</a>.
              </div>
            )
          }
        </p>

        <LinkButton
          href={LATIDO}
          text="Online Termin buchen"
          color="secondary"
          target="_blank"
        />
      </div>
    </div>
  </div>
</section>
