---
const { title, description } = Astro.props;
import LinkButton from '@components/LinkButton.astro';
import { PHONE } from '../constants';
---

<section class="highlight schedule-appointment">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-0 col-md-6 offset-md-3">
        <h2 class="text-center">{title ? title : 'Termin buchen'}</h2>

        <p>
          {description && <div>{description}</div>}
          {
            !description && (
              <div>
                Nutzen Sie die Möglichkeit, schnell und einfach einen Termin in
                unserer Ordination zu vereinbaren. Wir freuen uns darauf, Sie
                individuell zu betreuen. Oder rufen Sie uns direkt an:{' '}
                <a href={`tel:${PHONE}`}>{PHONE}</a>
              </div>
            )
          }
        </p>

        <p style="font-weight: bold">
          Die Praxis eröffnet im September. Die Möglichkeit zur
          Online-Terminvereinbarung steht Ihnen voraussichtlich ab Mitte August
          zur Verfügung. Wir freuen uns, Ihnen diesen Service in Kürze anbieten
          zu können.
        </p>

        <!-- <LinkButton
          href="/termin-buchen"
          text="Online Termin buchen"
          color="secondary"
          target="_blank"
        /> -->
      </div>

      <!--<div
        class="d-none d-md-flex col-12 col-md-6 justify-content-center align-items-center"
      >
        <i class="icon fa-sharp-duotone fa-solid fa-calendar-heart"></i>
      </div> -->
    </div>
  </div>
</section>
