<div class="services">
  <div>
    <h3>Prävention & Vorsorge</h3>
    <ul>
        <li>Herz-Kreislauf-Check<span class="details">Umfassende Untersuchung zur Früherkennung von Herz- und Gefäßerkrankungen, besonders wichtig bei familiärer Vorbelastung.</span></li>
        <li>Risikofaktorenanalyse<span class="details">Erfassung und Bewertung individueller Risikofaktoren wie Bluthochdruck, Diabetes oder erhöhte Blutfette.</span></li>
        <li>OP Freigabe<span class="details">Umfasst alle notwendigen Untersuchungen, um Ihre Operationsfähigkeit zu beurteilen.</span></li>
    </ul>
  </div>

  <div>
    <h3>Bildgebende Verfahren</h3>
    <ul>
        <li><a href="/leistungen/echokardiographie/">Echokardiographie (Herzultraschall)</a><span class="details">Darstellung der Herzklappen, Herzmuskulatur und Pumpfunktion in Echtzeit.</span></li>
        <li><a href="/leistungen/ultraschall-halsschlagader/">Gefäß-Ultraschall (Doppler/ Duplex)</a><span class="details">Untersuchung der Blutgefäße im Hals auf Engstellen oder Verkalkungen.</span></li>
        <li><a href="/leistungen/abdomen-nieren-sonographie/">Abdomen und Nieren Sonographie</a><span class="details">Ultraschalluntersuchung der oberen Bauchorgane und der Nieren.</span></li>
    </ul>
  </div>

  <div>
    <h3>Diagnostik</h3>
    <ul>
      <li><a href="/leistungen/anamnese-und-untersuchung/">Anamnese & Untersuchung</a><span class="details">Ausführliches Gespräch und eine gründliche körperliche Untersuchung, um Ihre Beschwerden und Risikofaktoren zu verstehen.</span></li>
      <li><a href="/leistungen/ruhe-ekg/">Ruhe-EKG</a><span class="details">Zeichnet die elektrische Aktivität des Herzens im Ruhezustand auf zur Erkennung von Rhythmusstörungen oder Durchblutungsproblemen.</span></li>
      <li><a href="/leistungen/langzeit-ekg/">Langzeit-EKG (24-72h)</a><span class="details">Erfasst den Herzrhythmus über einen längeren Zeitraum, um auch selten auftretende Störungen zu erkennen.</span></li>
      <li><a href="/leistungen/ergometrie/">Belastungs-EKG (Ergometrie)</a><span class="details">Misst die Herzleistung unter körperlicher Belastung - zum Beispiel auf dem Fahrrad-Ergometer.</span></li>
      <li><a href="/leistungen/24-stunden-blutdruck/">Blutdruck-Langzeitmessung</a><span class="details">Über 24 Stunden werden Blutdruckwerte erfasst, um Bluthochdruck oder Schwankungen zu erkennen.</span></li>
      <li><a href="/leistungen/spirometrie/">Spirometrie</a><span class="details">Zur Bestimmung der Lungenfunktion.</span></li>
      <li><a href="/leistungen/polygraphie/">Polygraphie</a><span class="details">Schlafapnoe-Screening zur Abklärung eines obstruktiven Schlafapnoe-Syndroms.</span></li>
      <li>Harndiagnostik<span class="details">Harnwegsinfektionen, Niereninsuffizienz,&nbsp;...</span></li>
    </ul>
  </div>

  <div>
    <h3>Behandlung & Nachsorge</h3>
    <ul>
        <li>Herzrhytmusstörungen<span class="details">Vorhofflimmern, Extrasystolen, Tachy- und Bradykardie,&nbsp;...</span></li>
        <li>Herzschwäche<span class="details">Herzinsuffizienz</span></li>
        <li>Herzklappenfehler<span class="details">Verengungen, Undichtigkeiten,&nbsp;...</span></li>
        <li>Herzmuskelentzündung<span class="details">Myokarditis</span></li>
        <li>Herzoperationen<span class="details">Herzklappenoperationen, Schrittmacherimplantationen, Bypass,&nbsp;...</span></li>
        <li>Koronale Herzerkrankungen<span class="details">Stentimplantationen, Schrittmacherimplantationen, TAVI,&nbsp;...</span></li>
        
        <li>Diabetesbehandlung<span class="details">Individuelle Betreuung zur optimalen Blutzuckereinstellung und Vorbeugung von Folgeschäden (<a href="https://www.therapie-aktiv.at/" target="_blank">Diabetes im Griff - mit Therapie-Aktiv).</a></span></li>
        <li>Schlafbezogene Atemstörungen<span class="details">Schlafapnoe, Schlafapnoe-Syndrom,&nbsp;...</span></li>
    </ul>
  </div>
</div>
