---
import { LATIDO } from '../../constants';
---

<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand text-primary" href="/"
      ><img src="/logo.svg" width="130" alt="Kardiologie Huber" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-15">
        <li class="nav-item dropdown">
          <a
            class="nav-link active dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Leistungen
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="dropdown-header">Nachsorge & Kontrollen</li>
            <li>
              <a
                class="dropdown-item"
                href="/leistungen/nachkontrolle-nach-herzinfarkt/"
                >Nachkontrolle nach Herzinfarkt</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/leistungen/herzklappen-nachsorge/"
                >Nachkontrolle nach Herzklappen-Operation</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/leistungen/stent-kontrolle/"
                >Nachkontrolle nach Stent Implantation</a
              >
            </li>
            <li class="dropdown-header">Diagnostische Untersuchungen</li>
            <li>
              <a class="dropdown-item" href="/leistungen/24-stunden-blutdruck/"
                >24 Stunden Blutdruck</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/leistungen/abdomen-nieren-sonographie/"
                >Abdomen- und Nieren-Sonographie</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/leistungen/anamnese-und-untersuchung/"
                >Anamnese & Untersuchung</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/leistungen/echokardiographie/"
                >Echokardiographie</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/leistungen/ergometrie/"
                >Ergometrie</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/leistungen/langzeit-ekg/"
                >Langzeit EKG</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/leistungen/polygraphie/"
                >Polygraphie</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/leistungen/ruhe-ekg/">Ruhe EKG</a>
            </li>
            <li>
              <a class="dropdown-item" href="/leistungen/spirometrie/">
                Kleine Spirometrie</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/leistungen/ultraschall-halsschlagader/"
                >Ultraschall der Halsschlagader</a
              >
            </li>
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/ordination/"
            >Ordination</a
          >
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/leistungen/"
            >Leistungen</a
          >
        </li> -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/wahlarzt/"
            >Wahlarzt</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/dr-peter-huber/"
            >Über mich</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/faqs/">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/kontakt/"
            >Kontakt</a
          >
        </li>

        <li class="nav-item book-appointment">
          <a
            class="btn btn-secondary"
            aria-current="page"
            role="button"
            target="_blank"
            href={LATIDO}>Termin buchen</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
