---
import Head from '../components/page/Head.astro';
import Navbar from '../components/page/Navbar.astro';
import Footer from '../components/page/Footer.astro';
import bootstrap from 'bootstrap/dist/js/bootstrap.bundle.min.js?url';
import '../styles/styles.scss';

const { title, description, heroimage } = Astro.props;

console.log(title, description, heroimage);
---

<html lang="de">
  <head>
    <Head
      title={title ? title + ' | Kardiologie Huber' : 'Kardiologie Huber'}
      description={description}
    />
  </head>

  <body>
    <header>
      <Navbar />
    </header>

    <main>
      {
        heroimage && (
          <div
            class="hero-image"
            style={'background-image: url("/images/' + heroimage + '")'}
          />
        )
      }
      <div class="container">
        <slot />
      </div>
    </main>

    <footer>
      <Footer />
    </footer>
  </body><script src={bootstrap}></script>
</html>
